#top_item{
    margin-top: 10px;
}
#custom-alert {
    top: 10px;
    position: fixed;
}

@keyframes button_move {
    from {
        left: 800px;
    }
    to {
        left: 0px;
    }
}

#btnLogin {
    margin: 3px;
    position: relative;
    animation-name: button_move;
    animation-duration: 2s;
}

#btngoogle {
    margin: 3px;
    position: relative;
    animation-name: button_move;
    animation-duration: 3s;
}

#btnSignUp {
    margin: 3px;
    position: relative;
    animation-name: button_move;
    animation-duration: 4s;
}